/* 基础样式 */
body { 
  font-size: 12px; 
  line-height: 150%; 
  text-align:center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* 优化移动端字体渲染 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 禁用移动端长按选择和双击缩放 */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Canvas容器响应式 */
.chess_box {
  display: none;
  margin: 10px auto;
  max-width: 100%;
  overflow: hidden;
}

#chess {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  touch-action: none; /* 防止触摸时的默认行为 */
}

.menu_dy, .menu_qj { 
  display: none;
}

.menu_box { 
  display: none1; 
  width: 316px; 
  max-width: 90%;
  height: auto;
  min-height: 232px;
  padding-top: 190px; 
  background: url(../img/init_bg.png) no-repeat center top;
  background-size: contain;
  margin: 60px auto 0;
}

.menu_box a { 
  width: 214px; 
  max-width: 80%;
  height: 46px; 
  text-align: center; 
  line-height: 46px; 
  background: url(../img/btn_bg.png) center 0 no-repeat; 
  background-size: contain;
  display: block; 
  margin: 10px auto; 
  font: normal 18px/46px "微软雅黑", "Microsoft YaHei", sans-serif; 
  color: #FF8A00; 
  cursor: pointer;
  /* 增加触摸区域 */
  padding: 5px;
}

.menu_box a:hover, 
.menu_box a:active { 
  background: url(../img/btn_bg.png) center -46px no-repeat; 
  background-size: contain;
  color: #FFA433;
}

.menu_info { 
  background: #463521; 
  color: #FFF; 
  padding: 10px 15px; 
  line-height: 190%; 
  text-align: left; 
  width: auto;
  max-width: 80%;
  margin: 10px auto;
  box-sizing: border-box;
}

.menu_fh { 
  background: url(../img/btn_fh.png) no-repeat; 
  background-size: contain;
  width: 14px; 
  height: 14px; 
  float: right; 
  cursor: pointer;
}

/* 按钮响应式优化 */
.bn_box {
  margin: 10px auto;
  text-align: center;
}

.bn_box input {
  font: normal 14px/36px "微软雅黑", "Microsoft YaHei", sans-serif; 
  margin: 5px; 
  padding: 8px 12px; 
  min-width: 80px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  /* 增加触摸区域 */
  touch-action: manipulation;
}

.bn_box input:active {
  background: #f0f0f0;
}

/* 移动端适配 */
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  
  .menu_box {
    padding-top: 120px;
    margin: 20px auto 0;
  }
  
  .menu_box a {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin: 8px auto;
  }
  
  .bn_box input {
    font-size: 14px;
    padding: 10px 15px;
    margin: 8px 3px;
    min-width: 70px;
  }
  
  .menu_info {
    font-size: 14px;
    padding: 12px;
  }
}

/* 平板适配 */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .chess_box {
    margin: 20px auto;
  }
  
  .menu_box {
    margin: 40px auto 0;
  }
}
